<div class="container p-4">
    <div class=" row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
        {{#each services}}
          <div class="col mb-3">
                              <div class="card md-3">
              <h3 class="card-header" _msthash="1543503" _msttexthash="151151">dispositivo: {{tipo
                  }}</h3>
              <div class="card-body">
                <h5 class="card-title" _msthash="1919515" _msttexthash="852384">cliente: {{nombre_cliente}} </h5>
                <h6 class="card-subtitle text-muted" _msthash="1921049" _msttexthash="870571">  Marca: {{marca}}</h6>
                <hr>
                <h6 class="card-subtitle text-muted" _msthash="1921049" _msttexthash="870571">  Modelo: {{modelo}} </h6>
              </div>
                <div class="card-body">
              </div>
              <div class="card-body">
                <a  href="/links/servicio/editDispositivo/{{id}}" class="btn btn-warning" >reparado</a>
                <a href="/links/servicio/delete/{{id}}" class="btn btn-danger">eliminar</a>
              </div>
              <div class="card-footer text-muted" _msthash="1664169" _msttexthash="144235"> Creado: {{timeago create_at}} </div>
            </div>
          </div>
          {{else}}
          <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
              <p>no hay equipos registrados</p>
              <a class="btn btn-outline-primary" href="/links/servicio"> registrar uno</a>
            </div>
          </div>
        {{/each}}
    </div>
</div>