<div class="container pt-4">

        <div class="row">
            <div class="col-md-6 mx-auto">
                <form action="/links/edit/{{link.id}}" method="POST" class="card card-body" >
                    <div>
                        <h1 class="mb-4">Edición de Maquinaria</h1>
                    </div>
                    <div class="form-group" >
                            <select value=" " class="custom-select" _msthash="2736318" _msttexthash="1130220" name="tipo" id="" class="mb-4">
                                <option selected="" _istranslated="1">tipo de maquinaria</option>
                                <option value="1">electrica</option>
                                <option value="2">mecanica</option>
                                <option value="3">hidraulica</option>
                            </select>
                    
                    </div>
                    <div>
                        <input type="text" value="{{link.equipo}}" name="equipo" class="form-control mb-4" placeholder="equipo">
                    </div>  
                        <div>
                            <input type="text" value="{{link.codificacion}}" name="codificacion" class="form-control mb-4" placeholder="codificacion">
                        </div>
                    <div>
                        <input type="text" value="{{link.marca}}" name="marca" class="form-control mb-4" placeholder="marca">
                    </div>
                    <div>
                        <input type="text" value="{{link.modelo}}" name="modelo" class="form-control mb-4" placeholder="modelo">
                    </div>
                    <div>
                        <input type="text" value="{{link.serial}}" name="serial" class="form-control mb-4" placeholder="serial">
                    </div>
                    
                    
                    
                            
                           
                            
                    
                    
                    <div>
                        <textarea value="{{link.funcionamiento}}" name="funcionamiento"type="text" class="form-control mb-4" placeholder="funcionamiento y manejo"></textarea>
                    </div>
                    <div>
                        <textarea value="{{link.observaciones}}" name="observaciones" type="text" class="form-control mb-4" placeholder="observaciones"></textarea>
                    </div>
                    <div class="btn-group" role="group" aria-label="Ejemplo básico" _mstaria-label="254332">
                        <button class="btn btn-primary btn-lg" >editar</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>